body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply thin-scrollbar;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;

.activeNavlink ~ #active-marker {
  @apply translate-y-0;
}

.hide-last:last-child {
  display: none;
}

@tailwind utilities;

@layer components {
  .btn {
    @apply text-xs uppercase rounded-sm;
  }
  .btn-md {
    @apply px-3 py-1;
  }
  .btn-lg {
    @apply px-6 py-2;
  }
  .btn-xl {
    @apply px-8 py-3;
  }
}
@layer base {
  body {
    @apply text-gray-100 bg-gray-900;
  }
}

::selection {
  @apply text-white bg-gradient-to-tr bg-primary;
}

.thin-scrollbar::-webkit-scrollbar {
  @apply w-1 h-0.5;
}

.thin-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  @apply w-1 h-1 bg-gradient-to-t from-primary-600 via-primary to-green-700;
}
